.container, .boxes{
  display: flex;
}

.box{
  background-color: #00ff00;
  box-shadow: 16px 16px 16px;
  width: 100px;
  height: 100px;
  margin: 5px;
}

@media (max-width: 400px){
  .box{
    width:500px;
    height:500px;
  }
}
@media (min-width: 500px){
  .box{
    width:200px;
    height:200px;
  }
}

@media (orientation: landscape){
  .boxes{
    flex-direction: row;
  }
}

@media (orientation: portrait){
  .boxes{
    flex-direction: column;
  }
}